template(name="layout")


  nav.navbar.navbar-default
    .container
      .navbar-header
        a.navbar-brand(style="padding: 0;")
          img(src="/img/logo.png", width="150")
      ul.nav.navbar-nav(style="margin-left: 50px;")
        li 
          a(href="{{pathFor 'index'}}") Index
        li 
          a(href="{{pathFor 'new'}}") New
        li 
          a(href="{{pathFor 'machines'}}") Machines
        li 
          a(href="{{pathFor 'images'}}") Images
  
  .row
    .container
      +yield
