template(name="new")
  h1 New Benchmark
  form#form
    div
      h3 Images: 
      select#images-selector(multiple="mutiple")
        each images
          option(value="{{image}}") {{image}}
    div
      h3 Machines:
      select#machines-selector(multiple="mutiple")
        each machines
          option(value="{{machine}}") {{machine}}

    br
    div 
      h3 Options (optinal)
      input(type="text" id="options")
      p -t threads (-t12)
      p -c connections (-c40)
      p -d duration  (-d10s)
    

    br
    br
    br
    button.btn.btn-primary#run Run
