template(name="index")

  table.table(role="table")
    thead
      tr
        th #
        th Images
        th Machines
        th
    tbody
      each wrks
        tr
          td {{this.index}}
          td 
            each images
              p {{this}}
          td
            each machines
              p {{this}}

          td 
            button.btn.btn-info#view-benchmark View

            +quickRemoveButton collection="Wrks" _id=this._id class="btn btn-danger"
